/*section input data*/
#data {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left:3px;
	padding-left: 5px; 
}
.input {
	background-color: whitesmoke;
}
.input-box {
	margin-bottom: 5px;
}
h1, h2 {
	margin-top:5px;
}
#draw {
	background-color: white;
	border:1px solid #000000;
	width: 1283px;
	height: 800px;
}
canvas {
  margin-left: 2px;
  display: block;
}

.scroll {
    overflow: auto;
}